[Unit]
Description=qr code generator flask app linux service
After=multi-user.target

[Service]
Type=simple
Restart=always
WorkingDirectory=/home/<Your username>/QRCode-generator-web-app/app
ExecStart=/home/<Your username>/.cache/pypoetry/virtualenvs/qrcode-generator-U1M3FNmN-py3.8/bin/gunicorn -w 3 app:app

[Install]
WantedBy=multi-user.target
