body {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #923cb5;
	background-image: linear-gradient(100deg, #AA076B, #61045F);
	display:block !important;

}


#top_side{
	color: white;
	margin-top: 3rem;
}


#img_qr_code{
	height: 380px;
}


#url_input_and_download_button_block{
	position: absolute;
	top: 32rem;
}


#submit_button_and_download_button{
	padding-top: 1rem;
	padding-right: 2rem;
}


#download_qr_code_button{
	display: none;
}


#site_footer{
	color: white;
	position: absolute;
	top: 43rem;
	padding-right: 3.5rem;
}


a{
	text-decoration: none !important;
	color: inherit !important;
}