<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>QR code generator</title>
	
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	
	<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<script data-ad-client="ca-pub-7580534545874350" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</head>
<body>
	<div class="container">

	<div class="container" id="top_side">
		<div class="row">
			<div class="col-xs-6 text-center">
				<h1>QR code generator</h1>
			</div>

		</div>

		<div class="row">
			<div class="col-xs-6 text-center" id="qr_code_img_block">
				<!-- Qr code image will be appended here -->

			</div>
		</div>

	</div>


	<div class="container" id="url_input_and_download_button_block">
		
  		<div class="row">
    		<div class="col-xs-6 text-center">
    			<form action="/" method="POST" id="generate_qr_code_form">
					<div class="form-group">
						<div class="input-group input-group-lg">
		  					<span class="input-group-text" id="addon-wrapping">URL</span>
		  					<input type="text" id="user_url"
		  			               name="content" class="form-control form-control-lg"
		  			               aria-describedby="addon-wrapping">
		  			    </div>
	  			    </div>    
				</form> 
				<!-- <form method="POST" id="download_form" enctype="multipart/form-data" >
				</form> -->
    		</div>
  		</div>
  		<div class="row">
  			<div class="col-xs-6 text-center">
				<img src="">
			</div>
  		</div>
  		<div class="row">
  			<div class="col-xs-6 text-center" id="submit_button_and_download_button">
  				<button type="submit" form="generate_qr_code_form" value="Generate" class="btn btn-outline-light btn-lg" id="submit_form_button">Generate</button>

  				<button value="Download" class="btn btn-outline-light btn-lg" id="download_qr_code_button">Download</button>

  				
  			</div>
  		</div>
	</div>

	<div class="container" id="site_footer">
		<div class="row">
			<div class="col-xs-6 text-center">
				<footer>
				  <a href="https://www.linkedin.com/in/alex-gusakov/" target="_blank">Author: Alexander Gusakov</a>
				</footer> 
			</div>
		</div>
	</div>

<script>
	$(document).ready(function(){
		$("#download_qr_code_button").css("display", "none");

		let generated = false, downloaded =false;
		let file_name, file_path;

		$('#generate_qr_code_form').submit(function() {
			let user_url = $('#user_url').val();

			$.ajax({
			    url: "/",
			    type: "POST",
			    data: JSON.stringify({"user_url": user_url}),
			    contentType: "application/json",
			    success: function(data){
			    	file_name = data.qr_code_file_name;
			    	file_path = data.qr_code_file_path;

			        $('#submit_form_button').blur();

			        if (!generated && !downloaded)
			        {

			        	$('#qr_code_img_block').append(`<img src="${file_path}" id="img_qr_code" class="img-thumbnail">`);
			        	$('#download_qr_code_button').css("display", "inline");

			        	generated = true;
			        }
			        else if(generated && !downloaded)
			        {
			        	$('#img_qr_code').remove();

			        	$('#qr_code_img_block').append(`<img src="${file_path}" id="img_qr_code" class="img-thumbnail">`);
			        }

			    },
			    error: function(error){
			        alert('Oh no! Something went wrong... Try again!')
			    }
			});
			return false;

		});

		$("#download_qr_code_button").click(function(){

			fetch(`/download/${file_name}`).then(resp => resp.blob()).then(blob => {
    			const url = window.URL.createObjectURL(blob);
    			const a = document.createElement('a');
    			a.style.display = 'none';
    		a.href = url;

    		a.download = file_name;
    		document.body.appendChild(a);
    		a.click();
    		window.URL.revokeObjectURL(url);
  			}).catch(() => alert('Oh no! Something went wrong... Try again!'));
			
 			$("#user_url").val("");
			$("#download_qr_code_button").blur();

			generated = false;
			$("#download_qr_code_button").css("display", "none");
			$("#img_qr_code").hide("fast", function(){ $("#img_qr_code").remove(); });

			downloaded = false;        

			return false;
		});

	}); 

</script>



</body>




</html>