<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>QR code generator</title>
	
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	
	<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

</head>
<body>
	<div class="container">

	<div class="container" id="qr_code_generator_text">
		<div class="row">
			<div class="col-xs-6 text-center">
				<h1>QR code generator</h1>
			</div>

		</div>

	</div>

	<div class="container" id="url_input_and_button">
		<div class="row">
			<div class="col-xs-6 text-center">
				<!-- <img src="qr_codes\qr_code_15_07_2021_12_53_10_67592.png"> -->
			</div>
		</div>
  		<div class="row">
    		<div class="col-xs-6 text-center">
    			<form action="/" method="POST" id="submit_form">
					<div class="form-group">
						<div class="input-group input-group-lg">
		  					<span class="input-group-text" id="addon-wrapping">URL</span>
		  					<input type="text" id="link"
		  			               name="content" class="form-control form-control-lg"
		  			               aria-describedby="addon-wrapping">
		  			    </div>
	  			    </div>    
				</form> 
    		</div>
  		</div>
  		<div class="row">
  			<div class="col-xs-6 text-center">
				<img src="">
			</div>
  		</div>
  		<div class="row">
  			<div class="col-xs-6 text-center" id="submit_button">
  				<button type="submit" form="submit_form" value="Generate" class="btn btn-outline-light btn-lg">Generate!</button>
  			</div>
  		</div>
	</div>

	<div class="container" id="site_footer">
		<div class="row">
			<div class="col-xs-6 text-center">
				<footer>
				  <p>Author: Alexander Gusakov</p>
				</footer> 
			</div>
		</row>
	</div>
	</div>
</body>
</html>